
/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;   
    height: 2px;
    background-color: #bd3639;
}

/* Header CSS */



.header-div
{
	height: 550px;
    background-color: #bd3639;
}

.slide-text img {
    width: 4%;
    filter: invert(75%);
}

.logo-guia {
    text-align: center;
    left: 41rem;
    filter: invert(75%);
    width: 30%;
    
    
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}

/* contact */


.contact-color {
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #777;
}

.call-action-color .main_heading h1
{
	color: #bd3639;
}

.call-action-color .underline
{
	background-color: #fff;
}

.text-contact {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}


/* About */

.text-about {
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
}

/* Footer */

footer {
    padding: 40px 0 35px 0;
    text-align: center;    
    margin-bottom: 10px;
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
    position: fixed;
    bottom:10px;
    left:10px;  
    z-index: 999;
    border-radius:50px;
    box-shadow: 2px 2px 3px #999;
    }

.whatsapp-fixo:hover {
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.787);
    transition: box-shadow 0.2s;
}

.whatsapp-fixo:not(hover) {
    box-shadow: 2px 2px 3px #999;
    transition: box-shadow 0.2s;
}

.footer-social {
    font-size: 30px;
    line-height: 50px;
}


.footer-social  a
{
    color: #878787;
}



/* Bootstrap CSS */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}



.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* Extra Small devices  */
@media (max-width: 480px) {
	.more-features-div-description, .more-features-div-heading
	{
		width: 80%;
	}
		.header-div
	{
		height: 350px;
	}

	.slide-text {
	    color: #fff;
    	margin-top: 35px;
	}
	.slide-text p {
    	font-size: 12px;
	}

	.slide-text h1 {
	    line-height: 25px;
    	font-size: 25px;
	}
}

/* Extra Small devices  */
@media (max-width: 767px) {
	.slide-text h1
	 {
	 	line-height: 30px;
    	font-size: 30px;
	 }

	 .slide-text p {
    	font-size: 13px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	 .pricing-box
	 {
	 	margin-bottom: 20px;
	 }

	 .slide-text h1
	 {
	 	line-height: 45px;
    	font-size: 45px;
	 }

	 .slide-text p {
    	font-size: 15px;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #bd3639;
}

/* Header CSS */



.header-div
{
	height: 550px;
    background-color: #bd3639;
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    font-size: 40px;
}

.slide-text p
{
	font-size: 17px;
}


/* Contact */



.contact-color {
      font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;

    }
}

.contact-color .main_heading h1
{
	color: #777;
}

.contact-color .underline
{
	background-color: #bd3639;
}

/* About */
.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #019299;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
}

.about-us-box p
{
	font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}


/* Footer */

footer {
    padding: 40px 0 35px 0;
    text-align: center;    
    margin-bottom: 10px;
}

.footer-social {
    
    font-size: 50px;
    line-height: 50px;
}

.footer-social  a
{
    color: #878787;
}

.footer-social:hover  a
{
    color: #bd3639;
    transition: color .2s;
}

.footer-social:noit(hover)  a
{
    color: #878787;
    transition: color .2s;
}


/* Bootstrap CSS */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
