
/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;   
    height: 2px;
    background-color: #bd3639;
}

/* Header CSS */


/* The navigation bar */



* {
    outline: none;
  }
  
  strong {
    font-weight: 600;
  }
  
  .page {
    width: 100%;
    height: 100vh;
    background: #fdfdfd;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: .03em;
    color: #212121;
  }
  
  header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #bd3639;
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  main {
    padding: 70px 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  main > div {
    margin: auto;
    max-width: 600px;
  }
  
  main h2 span {
    color: #BF7497;
  }
  
  main p {
    line-height: 1.5;
    font-weight: 200;
    margin: 20px 0;
  }
  
  main small {
    font-weight: 300;
    color: #888;
  }
  
  #nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  #nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
  }
  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
  }
  #nav-container * {
    visibility: visible;
  }
  
  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: .3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
    pointer-events: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0,8px,0) rotate(45deg);
  }
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-8px,0) rotate(-45deg);
  }
  
  #nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
  }
  
  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
  }
  
  #nav-content li a:hover {
    color: #BF7497;
  }
  
  #nav-content li:not(.small) + .small {
    margin-top: auto;
  }
  
  .small {
    display: flex;
    align-self: center;
  }
  
  .small a {
    font-size: 12px;
    font-weight: 400;
    color: #888;
  }
  .small a + a {
    margin-left: 15px;
  }
  
  #nav-container:focus-within #nav-content {
    transform: none;
  }
  

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }
  
  a {
    color: currentColor;
    transition: .2s ease-in-out;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  


.header-div
{
    background-color: #fff;
}

.slide-text img {
    width: 25%;
}


.slide-text h1 {
    position: fixed;
    color: black;
    margin-top: 30px;
}

.logo-guia {
    text-align: center;
    left: 41rem;
    width: 30%;
    
    
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}       


.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}

/* contact */


.contact-color {
    position: relative;
    left: -1rem;
    top: 16rem;
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #777;
}

.contact-color .main_heading h1
{
	color: #bd3639;
}

.contact-color .underline
{
	background-color: #bd3639;
}

.text-contact {
    position: relative;
    top: -3rem;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}


/* About */

.text-about {
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
    
}


/* Catalog */

.main_heading a {   
    color: #fff ;
    font-style: bold;
    position: relative;
    top:5.5rem;
    left: 34rem;
    text-decoration: none;  
    background: #bd3639;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 9px 8px;
    padding-bottom: 10px;
}

.main_heading:hover a {
    background: black;
    Color:#bd3639;
    transition: background .5s;
    transition: color .5s ;
}

.main_heading:not(hover) a {
    background: #bd3639;
    Color:#fff;
    transition: background .5s;
    transition: color .5s ;
}

.vazio {
    margin: 2rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
    width: 100%;
    position: relative;
    top: 2.5rem;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #bd3639;
    border-right: none;
    background-color: rgba(161, 161, 161, 0.548);
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #bd3639;
  }
  
  .searchButton {
    width: 60px;
    height: 36px;
    border: 1px solid #bd3639;
    background: #bd3639;
    text-align: center;
    color: rgb(49, 46, 46);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: relative;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
  }



.academia {
    color:#bd3639;
    font-size: 25px;
    line-height: 30px;
    padding: 0.2em 10px;
}

.box {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .box :first-child {
      align-self: center;
      
  }

 

  #scroll{
    position:absolute;
    width: 100%;
    height: 95%;
    top: 20rem;
    left:0;
    overflow:auto;
    border: solid#bd3638 2px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bd3638; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

/* Footer */

footer {
    padding: 40px 0 35px 0;
    text-align: center;    
    margin-bottom: 10px;
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
    position: fixed;
    bottom:10px;
    left:10px;  
    z-index: 999;
    border-radius:50px;
    box-shadow: 2px 2px 3px #999;
    }

.whatsapp-fixo:hover {
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.787);
    transition: box-shadow 0.2s;
}

.whatsapp-fixo:not(hover) {
    box-shadow: 2px 2px 3px #999;
    transition: box-shadow 0.2s;
}

.footer-social {
    position: relative;
    left: -1rem;
    font-size: 30px;
    line-height: 50px;
}


.footer-social  a
{
    color: #878787;
}

.assinatura {
    position: relative;
    top: 1rem;
    text-decoration: none;
    color: #bd3638;
    font-size: 15px;
}

.nome {
    color:  #878787;
}



.nome:hover {
    color: #3675bd ; 
    transition: color 0.5s;
   
}

/* Bootstrap CSS */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}




.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* Extra Small devices  */
@media (max-width: 480px) {
	.more-features-div-description, .more-features-div-heading
	{
		width: 80%;
	}
		.header-div
	{
		height: 350px;
	}

	.slide-text {
	    color: #fff;
    	margin-top: 35px;
	}
	.slide-text p {
    	font-size: 12px;
	}

	.slide-text h1 {
	    line-height: 25px;
    	font-size: 25px;
	}
}

/* Extra Small devices  */
@media (max-width: 767px) {
	.slide-text h1
	 {
	 	line-height: 30px;
    	font-size: 30px;
	 }

	 .slide-text p {
    	font-size: 13px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	 .pricing-box
	 {
	 	margin-bottom: 20px;
	 }

	 .slide-text h1
	 {
	 	line-height: 45px;
    	font-size: 45px;
	 }

	 .slide-text p {
    	font-size: 15px;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #bd3639;
}

/* Header CSS */



.header-div
{   
	height: 31rem;
    background-color: #fff;
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}


.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    font-size: 40px;
}

.slide-text p
{
	font-size: 17px;
}


/* Contact */



.contact-color {
      font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
    
    }
}

.contact-color .main_heading h1
{
	color: #777;
}

.contact-color .underline
{
	background-color: #bd3639;
}

/* About */
.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #bd3639;
    color: #fff;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #019299;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
}

.about-us-box p
{
	font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}


/* Footer */

footer {
    padding: 40px 0 35px 0;
    text-align: center;    
    margin-bottom: 10px;
}

.footer-social {
    
    font-size: 50px;
    line-height: 50px;
}

.footer-social  a
{
    color: #878787;
}

.footer-social:hover  a
{
    color: #bd3639;
    transition: color .2s;
}

.footer-social:noit(hover)  a
{
    color: #878787;
    transition: color .2s;
}


